.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}
.focus {
    float: left;
    width: 721px;
    height: 455px;
    background-color: purple;
}
.newflash {
    float: right;
    width: 250px;
    height: 455px;                                                                                           
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4
}
.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news-hd h5 {
    float: left;
    font-size: 14px;
}
.news-hd .more {
    float: right;
}
.news-hd .more::after {
    font-family: 'icomoon';
    content: '\e920';
}
.news-bd {
    padding: 5px 15px 0;
}
.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lifeservice {
   overflow: hidden;
   height: 209px;
   border: 1px solid #e4e4e4;
   border-top: 0;                                                                                   
}
.lifeservice ul {
   width: 252px;
}
.lifeservice ul li {
   float: left;
   width: 63px;
   height: 71px;
   border-right: 1px solid #e4e4e4;
   border-bottom: 1px solid #e4e4e4;
   text-align: center;
}

.lifeservice ul li i {
   display: inline-block;
   width: 24px;
   height: 28px;
   background-color: teal;
   margin-top: 12px;
   background: url(../images/icons.png) no-repeat -19px -15px                                      ;                                                       
}

.bargain {
   margin-top: 5px;
}

.recommand {
   height: 163px;
   margin-top: 12px;                                                                                   
}

.recommand-hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}
.recommand-bd {
    float: left;
}

.recommand-bd ul li {
    position: relative;
    float: left;
}
.recommand-bd ul li img {
    width: 248px;
     height: 163px;
}
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3{
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}
.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    margin: 0 15px;
}
.floor .w {
    margin-top: 30px;
}
.box_bd {
    height: 361px;
}

.tab_list_item>div {
    float: left;
    height: 361px;
}
.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}
.col_210 ul {
    padding-left: 12px;
}
.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}
.col_329 {
    width: 329px;
}
.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.col_219 {
    width: 219px;
}
.bb {
    display: block;
    border-bottom: 1px solid #ccc;
}